    <style>
        .modal-content{
            padding: 20px;
        }
    </style>


    <!-- Modal Consultation -->
    <div class="modal fade bs-example-modal-lg" id="modallg1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <h3>1. Consultation personnalisée</h3>
            <p>Nous proposons une étude personnalisée après un bilan complet intégrant vos dents, vos lèvres, votre visage, vos fonctions oro-faciales, votre sourire, votre personnalité, votre motif de consultation à partir de logiciels d'aide au diagnostic spécialement conçus par B And Smile pour l'ISFESO
            </p>
            <h4>1.1 La pré consultation</h4>
            <p>Il est souvent difficile lors de la consultation de compléter le questionnaire médical de connaitre vos antécédents, votre profil et votre motif de consultation avant de commencer à vous examiner, cette étape indispensable est souvent écourtée du fait d'un planning ne prenant pas en compte le motif de consultation mais étant régulé par le type d'acte enregistré indépendamment de la différence de chaque patient.
            Le logiciel a été spécialement développé pour permettre à partir d'une centaine de questions que vous pouvez remplir au calme chez vous sur internet de connaitre vos antécédents médicaux et thérapeutiques, d'apprécier le ressentiment de votre schéma corporel, de préparer et d'enregistrer les questions que vous voulez nous poser tout en précisant votre motif de consultation.</p>
            <h4>1.2 La consultation ou consultation-bilan</h4>
            <p>Les logiciels BAS Diagnostic et BAS Analysis permettent lors de la consultation à partir de votre examen, des réponses au logiciel et de vos examens complémentaires, d'analyser votre cas clinique et à chaque étape de vous informer sur votre situation clinique, des possibilités thérapeutiques, des risques, conséquences, des indications et contres indications et possibilités de traitement.</p>

        </div>
    </div>
    </div>


    <!-- Modal Diagnostique -->
    <div class="modal fade bs-example-modal-lg" id="modallg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <h3>2. Diagnostique de l'ISFESO selon l'orthodontie esthétique fonctionnelle du sourire</h3>
            <p>"Les traitements d'orthodontie ne doivent pas être esthétiques ou fonctionnels ils doivent être les deux à la fois, l'ISFESO ne privilégie jamais la fonction si elle nuit à l'esthétique"<br>
            <b>-Patrice Bergeyron-</b><br>
            Notre concept : Sans abandonner les radiographies, moulages et examens complémentaires, notre diagnostic et la proposition thérapeutique qui en découlent sont basés sur l'orthodontie esthétique fonctionnelle du sourire
            </p>    

            <h4>1. Ne pas nuire</h4>
            <p>En orthodontie : Limiter les extractions "Ne pas mutiler", nous pouvons améliorer, ne rien faire mais pas aggraver le cas "les extractions de dents saines sont des mutilations irréversibles d'une partie du corps humain". Mettre en place toute technique et technologie les limitant.
            En esthétique : Limiter les dévitalisations "Ne pas tuer". Il vaut mieux redresser une dent que la tailler ou la couronner.</p>

            <h4>2. Le sourire du visage : Harmonie architecturale de la face.</h4>
            <p>"Le traitement d'orthodontie influence l'équilibre et l'expression du visage, il ne suffit pas d'aligner, de redresser et de coordonner les dents pour avoir un "beau sourire", il faut les intégrer dans le visage, respecter le volume du sourire, la taille du nez, la position du menton, des lèvres et l'évolution dans le temps de ce sourire avec le vieillissement des tissus et du visage, tout en respectant les désirs du patient." Pas de sourire sans face, pas de visage sans sourire.</p>

            <h4>3. Le sourire des dents : Harmonie du sourire.</h4>
            <p>Votre sourire est riche d'informations et d'indications sur l'état, la position et le déplacement de vos dents, il nous guide sur les possibilités d'amélioration, de changement ou de correction.</p>

            <h4>4. Harmonie occlusale :</h4>
            <p>Respectant les concepts de dentisterie et de prothèse et non conceptualisé à partir ou à cause d'un système préfabriqué tel que le multi-attaches.</p>
            <a href="{{ path('diagnostique') }}" class="text-center">En savoir plus</a>

        </div>
    </div>
    </div>


    <!-- Modal Propostion traitement -->
    <div class="modal fade bs-example-modal-lg" id="modallg3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <h3>3. Propositions de traitements ou de changement</h3>
            <p>Nous vous proposerons toujours plusieurs solutions:</p>    

            <h4>Proposition de Traitement ou de changement enfant en croissance</h4>
            <p>Nous proposons des traitements <b>sans extractions de prémolaires saines</b> qui sont des mutilations irréversibles d'une partie du corps humain pour préserver le maximum de capacité fonctionnelle et améliorer le vieillissement des tissus de soutien et du visage.
            </p>

            <h4>Proposition de Traitement ou changement Adolescent ou ADULTE sans croissance</h4>
            <p>La particularité du traitement d'orthodontie adulte est l'absence de croissance et donc l'absence de possibilité de corriger les décalages des bases osseuses sans association de chirurgie des maxillaires. Certains adultes créent une sorte d'équilibre dans le déséquilibre et après avoir informé le patient de son état et des différentes possibilités de traitement avec leurs avantages leurs inconvénients et dans le but de laisser le choix de traitement au patient nous proposons au moins deux parmi 4 solutions</p>

        </div>
    </div>
    </div>


    <!-- Modal régles et choix -->
    <div class="modal fade bs-example-modal-lg" id="modallg4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <h3>4. Règles pour appareillages selon l'ISFESO</h3>
            <p>Tous les appareils permettent d'obtenir d'excellents résultats, ce n'est qu'un moyen et nos propositions se portent sur des appareillages esthétiques les plus confortables, les moins douloureux et les moins traumatisants tout en permettant la bonne hygiène dentaire et en limitant les effets secondaires.</p>    

            
            <p>Tous les appareils ont une efficacité, l'avenir étant de :</p>
            <ul class="list theme-colored check">
                <li>Règle 1 <b>- Esthétique</b> (le moins visible et d'améliorer l'esthétique des 6 dents antérieures dès le début du traitement)</li>
                <li>Règle 2 <b>- Diminuer la douleur et les traumatismes</b> (forces légères et physiologiques)</li>
                <li>Règle 3 <b>- Confortable et individualisé</b> (lisses arrondis pour la langue et les joues, être le moins traumatisant voire mutilant)
                <li>Règle 4 <b>- Permettre l'hygiène</b> (privilégier l'amovible)</li>
                <li>Règle 5 <b>- Individuel unique et efficace</b> (appareillage sur mesure [tous nos appareils sont fabriqués à partir d'empreintes, car chaque individu est unique])</li>
                <li>Règle 6 <b>- Sans contrainte de Rendez-Vous</b></li>
            </ul>

        </div>
    </div>
    </div>


    <!-- Modal consentement -->
    <div class="modal fade bs-example-modal-lg" id="modallg5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <h3>5. Consentement éclairé</h3>
            <p>Tous les appareils permettent d'obtenir d'excellents résultats, ce n'est qu'un moyen et nos propositions se portent sur des appareillages esthétiques les plus confortables, les moins douloureux et les moins traumatisants tout en permettant la bonne hygiène dentaire et en limitant les effets secondaires.</p>    
           
            <p>Parce  que nous avons le devoir de vous informer avant de vous traiter, parce que vous devez avoir le choix de refuser un traitement, parce  que c'est une partie de votre corps ou celui de votre enfant que vous voulez nous confier.
            Il est difficile lors d'une consultation de donner au patient toutes les informations sur la philosophie du traitement de l'orthodontiste, sur les appareillages utilisés, les risques et les limites. Souvent le patient suit les conseils de son dentiste, d'un ami, de son feeling pour choisir son orthodontiste mais va-t-il vraiment toutes les données pour déterminer son choix.
            Beaucoup de sociétés scientifiques ont de nobles concepts mais leur membres ne pratiquent pas toujours les mêmes traitements ou appareillages et ne garantissent pas au patient les mêmes types de traitements.
            L'ISFESO est la seule société scientifique dont l'adhésion est subordonnée au respect d'une charte et dont les membres acceptent d’être contrôlés dans l’intérêt des patients et du respect de la charte les orthodontistes de l'ISFESO s'engagent.
            </p>

            <h4>Suivi du Patient</h4>
            <p>En cas de changement de région, de transfert de cabinet, de vente du cabinet ou d'association, le patient n'aura aucune garantie que le successeur du traitement appliquera le même type de traitement ou les mêmes appareillages. Dans l'ISFESO, si le transfert ou l'association se fait avec un praticien non membre, il n'aura pas la reconnaissance de l'ISFESO.
            Un site avec des explications spécifiques aux questions ou problèmes concernant les traitements de l'orthodontie esthétique et fonctionnelle du sourire répond 24h/24 grâce à des explications claires et illustrées de photos et de vidéos, accessibles par code d'accès individuel à chaque patient.
            </p>

        </div>
    </div>
    </div>


    <!-- Modal maintien et entretien -->
    <div class="modal fade bs-example-modal-lg" id="modallg6" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <h3>6. Maintien et entretien</h3>
            <p>La stabilité des traitements d'orthodontie fait débat depuis longtemps en orthodontie, si la plupart des orthodontistes sont d'accord sur la stabilité de l'occlusion de classe I, les dents subissent l'influence des modifications dues au vieillissement du visage, des muscles, des tissus et des dents et aucun orthodontiste ne peux garantir définitivement l'alignement parfait des dents, qui, comme pour tout le reste du corps humain demande un maintien et un entretien. Nous nous engageons à informer le patient dès le début de traitement en lui proposant des solutions pour maintenir et entretenir son nouveau sourire aussi bien pour la blancheur que l'alignement parfait.</p>    

        </div>
    </div>
    </div>



