{% extends ('layout/frontlayout.html.twig') %}
   {% block body %} 
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="images/bg/bg3.jpg"             style="background-image: url(&quot;images/bg/bg3.jpg&quot;); background-position: 50% 97px;">
    <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="text-white mt-20">Régles d'Appareillages / Aligneurs</h2>
                </div>
            </div>
        </div>
    </div>      
    </section>


    <section class="">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-6">
              <h6 class="letter-space-4 text-gray-darkgray text-uppercase mt-0 mb-0">A propos</h6>
              <h2 class="text-uppercase font-weight-600 mt-0 font-28 line-bottom">Les aligneurs ou gouttières thermoformées</h2>
              <h4 class="text-theme-colored">Pourquoi les Aligneurs ?</h4>
              <p>Si les gouttières déplacent des dents depuis les années 1940, c’est l’évolution de l’informatique et des technologies au service de la sante et plus précisément de l’orthodontie depuis 1998 qui permet aujourd’hui des déplacements complexes avec des gouttières. La stereolithographie dans la résine liquide et la fabrication automatisée d’une série de modelés à partir d’une reconstruction dynamique et statique des dents en 3D permet de déplacer les dents par de nouvelles pressions à chaque changement.</p>
            </div>
            <div class="col-md-6">
              <div class="video-popup">                
                <a href="https://www.youtube.com/watch?v=pW1uVUg5wXM" data-lightbox-gallery="youtube-video" title="Video">
                  <img alt="" src="images/about/5.jpg" class="img-responsive img-fullwidth">
                </a>
              </div>
            </div>

            <div class="col-md-12">
                <p>Sachant que tous les appareillages permettent d’obtenir d’excellents résultats, l’ISFESO  a recherche un appareil qui respecte au mieux les 6 Règles POUR APPAREILLAGE<br>
                Les gouttières sont utilisées depuis longtemps :</p>
                <ul class="list theme-colored">
                    <li>En orthodontie, depuis 1940 pour déplacer des dents, pour finir des traitements d’orthodontie ou faire leur phase de contention (elastopositionneur, elastofinisseur ),</li>
                    <li>En dentisterie esthétique pour éclaircir les dents</li>
                    <li>En occlusodontie pour corriger les problèmes articulaires (SADAM )</li>
                    <li>En post urologie pour améliorer l’équilibre des dents comme partie de l’équilibre du corps entier</li>
                    <li>En psychologie: gouttières antistress</li>
                    <li>En sport: pour éviter les fractures dentaires, adapte aux dents fêlées </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="event" class="">
      <div class="container pb-50">
        <div class="section-content">
          <div class="row">
            <div class="col-md-6">
              <h2 class="text-uppercase line-bottom mt-0 line-height-1"><i class="fa fa-calendar mr-10"></i>Avantages  <span class="text-theme-color-2">des Aligneurs</span></h2>
            </div>
            <div class="col-md-10">
              <p class="mb-10">Tous les appareils ont une efficacité, l'avenir étant de :</p>
              <div id="accordion1" class="panel-group accordion">
                <div class="panel">
                  <div class="panel-title"> <a class="active" data-parent="#accordion1" data-toggle="collapse" href="#accordion11" aria-expanded="true"> <span class="open-sub"></span> 1- Appareillage sur mesure : </a> </div>
                  <div id="accordion11" class="panel-collapse collapse in" role="tablist" aria-expanded="true" style="">
                    <div class="panel-content">
                      <p>Rapidité de traitement (règle n5 de l’ISFESO )
                        Les aligneurs  sont des appareils  sur mesure et adaptés à la denture de chaque patient, ces appareils individualises permettent un déplacement localise a une ou un groupe de dents en fonction du choix détermine lors du diagnostic selon l’orthodontie esthétique et fonctionnelle du sourire.<br>
                        Diminution des rendez-vous (règle n6 de l’ISFESO )
                        Cette précision permet souvent de diminuer la durée du traitement et de limiter les rendez-vous. Cette technique est très adaptée aux personnes qui se déplacent souvent ou qui ont déjà un agenda surcharge et qui ne peuvent se rendre tous les mois ou à intervalles réguliers chez leur orthodontiste. En cas de problème ils gardent le dernier aligneur adapte jusqu’au prochain rdv sans contrainte d’agenda ou d’urgence.<br>
                        Adapte aux bridges, couronnes et diverses restaurations (règle n 3 de l’ISFESO)
                        Les adultes ont un vécu dentaire avec de nombreux soins dentaires, de fausses dents, des absences de dents. Les appareils sur mesure sont les plus adaptés.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion12" class="collapsed" aria-expanded="false"> <span class="open-sub"></span> 2- La douleur a disparu et l’irritation est diminuée (règle n6 de l’ISFESO) </a> </div>
                  <div id="accordion12" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                    <div class="panel-content">
                      <p>Les patients ont peur du dentiste  du fait de la douleur.
                        Les aligneurs sont en matériau plastique ce qui diminue la douleur exercée. A l’inverse des fils qui exercent des forces sur les verrous a qui se transmettent à la dent en créant un couple de forces par rapport à un point fixe. 
                        Les aligneurs transmettent les forces par de multiples points sur la dent grâce a des surfaces en contact avec la dent plus nombreuses ce qui reparti les forces et diminue la tension localisée donc la douleur.
                        Les appareils orthodontiques classiques sont DOULOUREUX et IRRITANTS pour les gencives et muqueuses, les aligneurs sont arrondis (plastique) et donc moins irritants.

                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion13" class="collapsed" aria-expanded="false"> <span class="open-sub"></span> 3- L’appareil est transparent : Invisible règle n1 de l’ISFESO) </a> </div>
                  <div id="accordion13" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                    <div class="panel-content">
                      <p>Ils sont transparents ce qui les rend invisible aux autres.
                        Le fait de recouvrir les dents par un matériau plastique et transparent est plus esthétique:<br>
                        -en cas de chevauchement les dents paraissent plus lisses dès la pose en créant une brillance au sourire ce qui aligne les dents visuellement,
                        -en cas d’espaces entre les dents le comblement par l’aligneur  empêche une ombre noire disgracieuse dans le sourire,
                        -en cas de manque d’une dent, une facette esthétique est intégrée dans l’aligneur  alors que pour les bagues il faut la coller sur les dents (fragile) et il faut plusieurs rendez-vous pour la diminuer (avec les aligneurs  elles sont diminuées au fur et à mesure sans nécessite de rendez-vous rapproches.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion14" class="collapsed" aria-expanded="false"> <span class="open-sub"></span> 4- L’appareil est amovible (règle n4de l’ISFESO) </a> </div>
                  <div id="accordion14" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                    <div class="panel-content">
                        <p>L’hygiène dentaire normale
                           Le brossage des dents se fait sans l’appareil en bouche.
                           Plus de risque de taches sur les dents par les appareils multi bagues fixes sur les dents.
                           Plus de caries dues aux bagues.
                           Vie sociale améliorée avec des repas et des instants sans appareillages pendant la durée du traitement.
                           Possibilité de suspendre le traitement en gardant l’aligneur courant.
                        </p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion15" class="collapsed" aria-expanded="false"> <span class="open-sub"></span> 5- Eclaircissement dentaire (règle n1 de l’ISFESO)  </a> </div>
                  <div id="accordion15" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                    <div class="panel-content">
                      <p>Les gouttières permettent d’éclaircir les dents en même temps que se fait l’alignement. Certes les soins en composite, résine ou céramique ne seront pas éclaircis, mais à la fin du traitement les nouvelles reconstitutions faites par votre dentiste seront plus blanches que si vous n’aviez pas fait le traitement B And Smile associe à l’éclaircissement.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

        <section id="event" class="">
      <div class="container pb-50">
        <div class="section-content">
          <div class="row">
            <div class="col-md-6">
              <h2 class="text-uppercase line-bottom mt-0 line-height-1"><i class="fa fa-calendar mr-10"></i>Inconvénients  <span class="text-theme-color-2">des Aligneurs</span></h2>
            </div>
            <div class="col-md-10">
              <p class="mb-10">Besoin d’un port rigoureux selon les instructions:
              Les appareillages doivent être portes 22h/24h et changes selon la chronologie prescrite.
              Désocclusion postérieure
              Le port de gouttières qui recouvrent les dents peut créer après 6 mois de port une a désocclusion postérieure a qui disparaitra 6 mois après la fin de traitement et le passage en port nocturne. Si un équilibrage de fin de traitement doit avoir lieu il ne le sera qu’après ces 6 mois de traitement.
              Hyper sialorrhée.
              Le port de gouttière peut créer une hyper salivation provisoire du fait du a reflexe salivaire .
              </p>
            </div>
          </div>

          
          <div class="row">
            <div class="col-md-6">
              <h2 class="text-uppercase line-bottom mt-0 line-height-1"><i class="fa fa-calendar mr-10"></i>Indications </h2>
            </div>
            <div class="col-md-10">
              <p class="mb-10">Depuis 2010 tous les déplacements dentaires provoquent sans contre-indication médicale peuvent être faits par des gouttières thermoformées en fonction du procède de fabrication, de l’expérience de la technique, des auxiliaires nécessaires et du respect des procédures.
              Contre-indications
              Allergie aux matériaux utilises.
              </p>
            </div>
            <div class="col-md-10">
              <h2 class="text-uppercase line-bottom mt-0 line-height-1"><i class="fa fa-calendar mr-10"></i>Les marques de gouttières et spécificités de l’ISFESO</h2>
            </div>
            <div class="col-md-10">
              <p class="mb-10">Les fabricants d’appareils proposent des systèmes de déplacement dentaire qui évoluent tous les jours, la position finale des dents, l’expression du sourire et du visage dépend de l’orthodontiste, de sa formation de son expérience et de ses convictions.
              Les orthodontistes de l’ISFESO  pratiquent l’orthodontie esthétique et fonctionnelle du sourire  pour choisir et obtenir de son laboratoire ou d’un fabriquant d’appareillages orthodontiques, les résultats souhaites, non en fonction d’une norme, d’une marque ou d’un appareillage, mais en fonction des résultats de votre étude personnelle et de vos désirs. Pour que votre sourire soit une création unique, des logiciels et des procédures sont développées exclusivement par B And Smile pour les orthodontistes de la Société Internationale d’Esthétique Fonctionnelle du Sourire (I.S.F.E.S.O.).
              </p>
            </div>
          </div>


        </div>
      </div>
    </section>
   {% endblock %}