   {% extends ('layout/frontlayout.html.twig') %}
   {% block body %} 
   <style>
        h3{
            font-weight: 600
        }
   </style>
     <!--Page Title-->
    <section class="page-title" style="background-image:url(../assets/images/background/bg-page-title-16.jpg);">
    	<div class="auto-container">
        	<h1>Cas Cliniques  </h1>
        </div>
    </section>

   <section class="blog-news-section latest-news">
    	<div class="container">
        	
            <div class="sec-title text-center">
                <h2>Cas Cliniques</h2>
                <h3>Enfant</h3>
            </div>
        	<div class="row clearfix">
                
                <!--News Column-->
                <div class="column blog-news-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                		<figure class="image-box">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Z_NL0KKEzOs" allowfullscreen></iframe>
                        </figure>
                        <div class="content-box">
                        	<h3>Arcades étroites avec manque de place sur une enfant, correction avec 1 an d'OEFS© pédiatrique par le RCC©
                            </h3>
                            <div class="text">Toutes les dents ne rentrent pas, les incisives du haut remontent et ne descendent pas, les incisives du bas se chevauchent. Il n'y a pas eu d'extraction de dents saines.</div>
                        </div>
                </div>
                
                <!--News Column-->
                <div class="column blog-news-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                		<figure class="image-box">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JbB1sexTN2c" allowfullscreen></iframe>
                        </figure>
                        <div class="content-box">
                        	<h3>Manque de place sur un enfant de 8 ans, correction avec 1an d'OEFS© pédiatrique par le RCC©</h3>
                            <div class="text">Les dents sont grosses, certaines dents poussent tordu, les dents difinitives ne rentrent pas dans la mâchoire. Il n'y a pas eu d'extraction de dents saines.
                            </div>
                        </div>
                </div>
                
                <!--News Column-->
                <div class="column blog-news-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                		<figure class="image-box">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Rxz69FlkRBI" allowfullscreen></iframe>
                        </figure>
                        <div class="content-box">
                        	<h3>Articulé inversé sur une enfant de 8 ans, correction avec l'OEFS© pédiatrique par le RCC©</h3>
                            <div class="text">Les dents d'un côté ne mordent pas correctement, à l'envers, les dents du bas sont par dessus les dents du haut. Les incisives remontent et ne descendent pas. Il n'y a pas eu d'extraction de dents saines.
                            </div>
                        </div>
                </div>
                
                <!--News Column-->
                <div class="column blog-news-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                		<figure class="image-box">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Sb5UN92zIzw" allowfullscreen></iframe>
                        </figure>
                        <div class="content-box">
                        	<h3>Béance sur un enfant de 5 ans, correction avec 6mois d'OEFS© pédiatrique par le RCC©</h3>
                            <div class="text">Les dents du haut et du bas ne se touchent pas. La langue passe entre même si les mâchoires sont fermées. On voit que sans traitement, les choses ne se sont pas arrangées d'elles-même.
                            </div>
                        </div>
                </div>
                
                <!--News Column-->
                <div class="column blog-news-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                		<figure class="image-box">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ma5rVEg4od0" allowfullscreen></iframe>
                        </figure>
                        <div class="content-box">
                        	<h3>Mâchoire du bas en arrière sur un enfant de 3 à 4 ans, correction avec 1 an d'OEFS© pédiatrique dont le RCC©</h3>
                            <div class="text">La mâchoire du bas est en arrière, cela donne l'impression de "dents de lapin", les dents du haut sont dans le vide. Petit à petit la mâchoire du bas va rattraper sa place contre celle du haut et ainsi la bouche de l'enfant devient fonctionnelle.
                            </div>
                        </div>
                </div>
                
                <!--News Column-->
                <div class="column blog-news-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                		<figure class="image-box">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RPvCwiahLB0" allowfullscreen></iframe>
                        </figure>
                        <div class="content-box">
                        	<h3>Mâchoire du bas en avant sur un enfant de 3 à 4 ans, correction avec 1 an d'OEFS© pédiatrique dont le RCC©</h3>
                            <div class="text">La mâchoire du bas est en avant, l'enfant est prognate et se mord la langue, les dents du haut sont derrière les dents du bas. On voit que pendant 1 an où il n'y a pas eu de traitement, les choses ne se sont pas arrangées d'elles-même. Et dès que le traitement à commencé, petit à petit la mâchoire du haut s'est développée pour rattraper sa place contre celle du bas et ainsi la bouche de l'enfant devient fonctionnelle.
                            </div>
                        </div>
                </div>
                
            </div>


            

            <div class="sec-title text-center">
                <h2>Cas Cliniques</h2>
                <h3>Adolescent/Adulte/Senior</h3>
            </div>
            
        	<div class="row clearfix">
                
                <!--News Column-->
                <div class="column blog-news-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                		<figure class="image-box">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vuMXB_1nvh0" allowfullscreen></iframe>
                        </figure>
                        <div class="content-box">
                        	<h3>Articulé inversé sur un adulte, correction avec 2 ans d'aligneurs® en OEFS© et sans chirurgie</h3>
                            <div class="text"> La mâchoire du haut mord à l'intérieur de la mâchoire du bas, la mâchoire du bas semble en avant. L'arcade du haut a été reformée sans chirurgie.</div>
                        </div>
                </div>
                
                <!--News Column-->
                <div class="column blog-news-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                		<figure class="image-box">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/j6mG9Fti2Ms" allowfullscreen></iframe>
                        </figure>
                        <div class="content-box">
                        	<h3>Articulé inversé sur un adulte, correction avec 2ans d'aligneurs® en OEFS©</h3>
                            <div class="text"> Les canines du haut vont vers l'intérieur et les incisives de chevauchent. L'arcade du haut a été réharmonisée afin que chaque dent retrouve sa place</div>
                        </div>
                </div>
                
                <!--News Column-->
                <div class="column blog-news-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                		<figure class="image-box">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OulUZXU9EyI" allowfullscreen></iframe>
                        </figure>
                        <div class="content-box">
                        	<h3>Béance sur un adulte, correction avec 3ans d'aligneurs® en OEFS©</h3>
                            <p> Les dents du haut et du bas ne se touchent pas, la langue passe entre même si les mâchoires sont fermées. Il ne suffit pas de tirer sur les dents car cela peut les déchausser. Il n'y a pas eu de chirurgie</p>
                        </div>
                </div>

                
                
                <!--News Column-->
                <div class="column blog-news-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                		<figure class="image-box">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OiOck8u-vD0" allowfullscreen></iframe>
                        </figure>
                        <div class="content-box">
                        	<h3>Chirurgie bimaxillaire pour un jeune adulte, correction avec 1an d'aligneurs® en OEFS©</h3>
                            <div class="text"> Mâchoire du bas en avant, prognate. Les deux arcades ont été harmonisées et préparées avec une série d'alingeurs® puis opérées simultanément.</div>
                        </div>
                </div>
                
                <!--News Column-->
                <div class="column blog-news-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                		<figure class="image-box">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yRp7zhCNJFI" allowfullscreen></iframe>
                        </figure>
                        <div class="content-box">
                        	<h3>Chirurgie bimaxillaire pour une jeune adulte, correction avec 2 ans d'aligneurs® en OEFS©</h3>
                            <div class="text"> Mâchoire du bas en avant, prognate. Les deux arcades ont été harmonisées et préparées avec une série d'alingeurs® puis opérées simultanément.</div>
                        </div>
                </div>
                
                <!--News Column-->
                <div class="column blog-news-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                		<figure class="image-box">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8OoXC1-FivU" allowfullscreen></iframe>
                        </figure>
                        <div class="content-box">
                        	<h3>Dents très chevauchées sur un adolescent, correction avec 2 ans d'aligneurs® en OEFS©</h3>
                            <div class="text"> Ce patient à des arcades (mâchoires) étroites, les dents très chevauchées, les canines dans la gencive. Il a été traité en moins de deux ans avec Invisalign Teen® sans se faire extraire de dents saine.</div>
                        </div>
                </div>
                
                <!--News Column-->
                <div class="column blog-news-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                		<figure class="image-box">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PK4-i0dUh7I" allowfullscreen></iframe>
                        </figure>
                        <div class="content-box">
                        	<h3>Disjonction chirurgicale sur jeune adulte, correction avec 2 ans d'aligneurs® en OEFS© sans extraction de dents saines</h3>
                            <div class="text"> Dent en arrière, dent qui pousse au dessus, dents pas centrées, double rangée de dents... pour la correction, une aide chirurgicale à été apportée afin d'obtenir plus de place pour mettre chaque dent à sa place.</div>
                        </div>
                </div>
                
                <!--News Column-->
                <div class="column blog-news-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                		<figure class="image-box">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IqkfG-wXm4w" allowfullscreen></iframe>
                        </figure>
                        <div class="content-box">
                        	<h3>Dents écartées, diastème sur un adulte, correction avec 10 mois d'aligneurs® en OEFS©</h3>
                            <div class="text"> Il existe des espaces entre les dents, ce qu'on appelle diastème. Ces espaces sont réduits progressivement sans besoin de cacher les espaces par des prothèses.</div>
                        </div>
                </div>
                
                <!--News Column-->
                <div class="column blog-news-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                		<figure class="image-box">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/E-ECGsR_5bk" allowfullscreen></iframe>
                        </figure>
                        <div class="content-box">
                        	<h3>Dent incluse dans le palais sur adolescent, correction avec 2 ans d'aligneurs® en OEFS©</h3>
                            <div class="text"> Une canine se trouve dans le palais, elle a été amenée progressivement jusqu'à sa place correcte.</div>
                        </div>
                </div>
                
            </div>
        	
        </div>
    </section>
    {% endblock %}