 {% extends ('layout/frontlayout.html.twig') %}
   {% block body %} 
   <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="images/bg/bg3.jpg" style="background-image: url(&quot;images/bg/bg3.jpg&quot;); background-position: 50% 97px;">
      <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <h2 class="text-white mt-20">Charte ISFESO®</h2>
            </div>
          </div>
        </div>
      </div>      
    </section>

    <section >
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <img class="pull-left mr-15 thumbnail" src="{{ asset('images/logo_isfeso.png') }}" alt="" >
          </div>

          <div class="col-md-6"> 
           <p style="text-align: justify;">Nous nous engageons à respecter le patient comme un être humain et d’observer son fonctionnement pour aider sa
            croissance, améliorer ses fonctions et son esthétique.Nous nous engageons à vous informer sur les dysharmonies que vous présentez, leurs conséquences et les différentes
            possibilités de traitement avec leurs avantages et leurs inconvénients pour définir ensemble la meilleure solution tenant
            compte des critères scientifiques et de vos désirs.Nous vous proposons d’intégrer votre individualité et votre volonté de changement, non en fonction d’une norme ou d’un
            appareillage mais en fonction des résultats de votre étude personnelle à partir de logiciels et de la philosophie
            développés exclusivement par et pour les orthodontistes de la BAS.Notre concept s’est basé sur notre expérience, nos articles sur le sourire et les sourires de star, l’étude des articles scientifiques
            internationaux, associé au développement de nos logiciels exclusifs.</p>
          </div> 

          <div class="col-md-4">
            <img class="pull-left mr-15 thumbnail" src="{{ asset('images/charte.png') }}" alt="" >
          </div>
          </div>
        </div>
      </div>
    </section>

<section class="bg-lighter">
      <div class="container pb-60">
        <div class="section-content">
          <div class="row">
            <div class="col-md-8">
              <div class="meet-doctors">
                <h2 class="text-uppercase mt-0 line-height-1">Nous nous engageons</h2>
              </div>
              <br><br>
              <div class="row mb-sm-30">
                <div class="col-sm-6 col-md-6">
                  <div class="icon-box p-0 mb-20">
                   <a class="icon bg-theme-colored icon-circled icon-border-effect effect-circle icon-sm pull-left sm-pull-none flip " href="#">
                    <i class="pe-7s-scissors text-white"></i>
                   </a>
                   <div class="ml-70 ml-sm-0">
                    <p class="text-gray">Respecter les 7 engagements</p>
                   </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-6">
                  <div class="icon-box p-0 mb-20">
                   <a class="icon bg-theme-color-2 icon-circled icon-border-effect effect-circle icon-sm pull-left sm-pull-none flip icone2" href="#">
                    <i class="pe-7s-pen text-white charte-icone"></i>
                   </a>
                   <div class="ml-70 ml-sm-0">
                    <p class="text-gray"> Ne pas nuire : primum non cere.</p>
                   </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-6">
                  <div class="icon-box p-0 mb-20">
                   <a class="icon bg-theme-color-2 icon-circled icon-border-effect effect-circle icon-sm pull-left sm-pull-none flip" href="#">
                    <i class="pe-7s-tools text-white"></i>
                   </a>
                   <div class="ml-70 ml-sm-0">
                    <p class="text-gray">Avancer la recherche en orthodontie Esthétique</p>
                   </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-6">
                  <div class="icon-box p-0 mb-20">
                   <a class="icon bg-theme-colored icon-circled icon-border-effect effect-circle icon-sm pull-left sm-pull-none flip" href="#">
                    <i class="pe-7s-vector text-white"></i>
                   </a>
                   <div class="ml-70 ml-sm-0">
                    <p class="text-gray">Respecter le patient comme un individu.</p>
                   </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-6">
                  <div class="icon-box p-0">
                   <a class="icon bg-theme-colored icon-circled icon-border-effect effect-circle icon-sm pull-left sm-pull-none flip" href="#">
                    <i class="pe-7s-phone text-white"></i>
                   </a>
                   <div class="ml-70 ml-sm-0">
                    <p class="text-gray">Prendre connaissance systématiquement et informer mes patients des nouvelles technologies et évolution en orthodontie esthétique.</p>
                   </div>
                  </div>
                </div>

                <div class="col-sm-6 col-md-6">
                  <div class="icon-box p-0">
                   <a class="icon bg-theme-color-2 icon-circled icon-border-effect effect-circle icon-sm pull-left sm-pull-none flip" href="#">
                    <i class="pe-7s-light text-white"></i>
                   </a>
                   <div class="ml-70 ml-sm-0">
                    <p class="text-gray">N’effectuer des extractions dentaires que si il n’y a pas d’autres solutions</p>
                   </div>
                  </div>
                </div>

                <div class="col-sm-6 col-md-6">
                  <div class="icon-box p-0">
                   <a class="icon bg-theme-color-2 icon-circled icon-border-effect effect-circle icon-sm pull-left sm-pull-none flip" href="#">
                    <i class="pe-7s-light text-white"></i>
                   </a>
                   <div class="ml-70 ml-sm-0">
                    <p class="text-gray"> Suivre, respecter et appliquer les décisions selon la hiérarchie des membres de l’association.</p>
                   </div>
                  </div>
                </div>

                <div class="col-sm-12 col-md-12">
                  <div class="icon-box p-0">
                   <a class="icon bg-theme-color-2 icon-circled icon-border-effect effect-circle icon-sm pull-left sm-pull-none flip" href="#">
                    <i class="pe-7s-light text-white"></i>
                   </a>
                   <div class="ml-70 ml-sm-0">
                    <p class="text-gray"> Accepter d’être contrôlé dans ma pratique et mes actes par les membres hiérarchiques de la société dans l’intérêt du patient et du respect de mes engagements.</p>
                   </div>
                  </div>
                </div>


              </div>
            </div>
            <div class="col-md-4">
             <div class="p-30 mt-0 bg-theme-colored">
              <h3 class="title-pattern mt-0"><span class="text-white">Contactez <span class="text-theme-color-2">Nous</span></span></h3>
              <!-- Appilication Form Start-->
              <form id="contact_form" name="contact_form" class="form-transparent" action="{{ path('contact') }}" method="post">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group mb-20">
                      <input placeholder="Votre nom" type="text"  name="nom" required="" class="form-control" aria-required="true">
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group mb-20">
                      <input placeholder="Votre prénom" type="text"  name="prenom" required="" class="form-control" aria-required="true">
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group mb-20">
                      <input placeholder="Entrez votre num tél" type="text"  name="tel" required="" class="form-control" aria-required="true">
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group mb-20">
                      <input placeholder="Entrez votre adresse email" type="text" name="email" class="form-control" required="" aria-required="true">
                    </div>
                  </div>
                  
                  
                  <div class="col-sm-12">
                    <div class="form-group">
                      <textarea placeholder="Enter Message" rows="3" class="form-control required" name="sujet" id="form_message" aria-required="true"></textarea>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group mb-0 mt-10">
                      <input name="form_botcheck" class="form-control" type="hidden" value="">
                      <button type="submit" class="btn btn-colored btn-theme-color-2 text-white btn-lg btn-block" data-loading-text="Please wait...">Submit Request</button>
                    </div>
                  </div>
                </div>
              </form>
              <!-- Application Form End-->

              <!-- Application Form Validation Start -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
   {% endblock %}
      {% block javascripts %}
      {{ parent() }}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
    <script>
    $(document).ready(function () {
        
    $( "#contact_form" ).validate({
            rules: {
                nom: {
                "required": true,
                "minlength": 2,
                "maxlength": 20
                },
                prenom: {
                "required": true,
                "minlength": 2,
                "maxlength": 20
                },
                email: {
                "required": true,
                "email": true
                },
                tel: {
                "required": true
                },
                sujet: {
                "required": true,
                "minlength": 20,
                }
            },
            messages: {
                nom: {
                "required": "Ce champ est obligatoire",
                "minlength": "Le nom doit contenir au minmum 2 caractéres",
                "maxlength": "Le nom doit contenir au maximum 20 caractéres"
                },
                prenom: {
                "required": "Ce champ est obligatoire",
                "minlength": "Le prenom doit contenir au minmum 2 caractéres",
                "maxlength": "Le prenom doit contenir au maximum 20 caractéres"
                },
                email: {
                "required": "Ce champ est obligatoire",
                "email": "Veuillez vérifier le format"
                },
                tel: {
                "required": "Ce champ est obligatoire"
                },
                sujet: {
                "required": "Ce champ est obligatoire",
                "minlength": "Votre message doit contenir au moins 20 caractéres",
                }
            }
        });
    });   
    </script>
   {% endblock %}