{% extends ('layout/frontlayout.html.twig') %}
   {% block body %} 
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="images/bg/bg3.jpg"             style="background-image: url(&quot;images/bg/bg3.jpg&quot;); background-position: 50% 97px;">
    <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="text-white mt-20">Diagnostique ISFESO</h2>
                </div>
            </div>
        </div>
    </div>      
    </section>

<section id="event" class="">
      <div class="container pb-50">
        <div class="section-content">
          <div class="row">
            <div class="col-md-6">
              <h2 class="text-uppercase line-bottom mt-0 line-height-1"><i class="fa fa-calendar mr-10"></i>Diagnostique selon <span class="text-theme-color-2">l'ISFESO</span></h2>
            </div>
            <div class="col-md-10">
              <p class="mb-10"> <b>"La géométrie est la base de l’équilibre qui crée  l’harmonie<br>
                                L’harmonie dépasse l’art car elle plait à tout le monde<br>
                                Les artistes de l’art dentaire sont souvent des ignorants de la connaissance et parfois des génies P.B<br>
                                Le sourire commence par un visage au repos" -Patrice Bergeyron-</b>.<br><br>
                                Denis  Huisman, l’esthétique, Que  sais-je ? ed  presses  universitaires  de  France  12ème  édition  nov  1994<br>
                                «Face  au  verbalisme  du  XIXème  siècle, le  XXIème  siècle  se  doit  de  marquer  un  progrès  ou  un  changement  radical : il  lui  faut  instaurer  une esthétique  de laboratoire. Car  il  n’est  plus  que  deux  voies  pour  l’esthétique  du  présent : sombrer  dans  le  patho  ou  devenir  une  science.<br>
                                Si  l’esthétique  refuse  d’être  rigoureuse, précise  et  positive, elle  cessera  d’exister. »<br>
                                Nous ne serons jamais assez précis pour comprendre chacun de nos patients   <br>
                                L’objectif est de permettre au sourire de s’intégrer dans le visage  en équilibrant la face et « l’espace sourire » positionner les lèvres et les dents<br> dans la Face au repos et lors du Sourire. <br>
                                Les dents sont la face immergée de l’iceberg représenté par les maxillaires et découvert par les lèvres<br><br>
                                <b>L’Orthodontie Esthétique Fonctionnelle du Sourire©</b><br><br>
                                «Parce que l’appareillage n’est qu’un moyen et que la position des mâchoires support de la respiration et des fonctions oro-faciales, la position des                                          dents<br>
                                support des lèvres et du sourire dépend de l’orthodontiste , sa formation, son expérience et ses convictions et dans le but d’obtenir un consentement éclairé <br>
                                nous vous proposons l’orthodontie Esthétique Fonctionnelle du sourire »  <b>-Patrice  Bergeyron-</b>.<br><br>
                                Entre le scientifique de l'université et la réalité clinique de la contrainte du patient. A la recherche du traitement unique a la place de la correction par la moyenne mathématique.car chaque être humain est unique et que la connaissance n'a pas aboutît, nous mettons en place un maximum d'outil d'aide a la séméiologie et au diagnostic, pour qu'à travers ses signes cliniques nous aidons la nature les mâchoires les muscles a fonctionner ensemble car un visage qui fonctionner bi est individuellement beau et il suffît d'aligner les dents dans un contexte harmoniser avec des mâchoires qui se correspondent déjà, d'où l'orthodontie esthétique fonctionnelle du sourire.<br><br>

                                <b>Le  traitement  d’orthopédie  Dento-Faciale  selon  Patrice  BERGEYRON©</b><br><br>

                                « Aujourd’hui tout le monde a le droit d’avoir un beau sourire qui dégage des dents blanches et alignées »<br>
                                « Un beau sourire c’est le sourire des dents des lèvres et du visage »<br>
                                « Les dents Alignées ne suffisent pas au beau sourire »<br>


                                </p>
              <div id="accordion1" class="panel-group accordion">
                <div class="panel">
                  <div class="panel-title"> <a class="active" data-parent="#accordion1" data-toggle="collapse" href="#accordion11" aria-expanded="true"> <span class="open-sub"></span> 1 Ne Pas Nuire : « Primum Non Cere »</a> </div>
                  <div id="accordion11" class="panel-collapse collapse in" role="tablist" aria-expanded="true" style="">
                    <div class="panel-content">
                      <p>   <b>1.1: En orthodontie</b>: Limiter les extractions « Ne pas mutiler »<br>
                            Nous pouvons améliorer, ne rien faire mais ne   pas    d’aggraver  le  cas  «  les  extractions  de dents saines  sont  des mutilations irréversibles d’une  partie  du corps  humain» Mettre  en  place  toute  technique  et  technologie  les  limitant.<br>

                            <b>1.2: En Esthétique du sourire</b>: Limiter les dévitalisations «  Ne pas tuer »<br>
                            Il vaut mieux redresser une dent que la tailler ou la couronner, une facette une couronne n’est qu’une prothèse donc une tentative d’imitation de la nature
                            Ne pas se faire arracher les dents pour en poser des nouvelles mais utiliser les dents restantes en les redressant par orthodontie en les intégrant dans votre visage et votre sourire et éventuellement en les maquillant pour qu’elles soient plus belles
                            </p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion12" class="collapsed" aria-expanded="false"> <span class="open-sub"></span> 2 Le Sourire du Visage  Harmonie Faciale du Sourire</a> </div>
                  <div id="accordion12" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                    <div class="panel-content">
                      <p>L’objectif est de permettre au sourire de s’intégrer dans le visage  en équilibrant la face et « l’espace sourire » positionner les lèvres et les dents dans la Face au repos et lors du Sourire.<br>
                        Les dents sont la face immergée de l’iceberg représenté par les maxillaires et découvert par les lèvres<br><br>

                        <b>2.1  Harmonie du Visage au Repos</b> 

                        <b>2.1.1 Harmonie de la Face au repos</b>
                            1 Masque  FACIAL ©: 3 étages et 3 sous étages<br>
                            2 Le circuit AIR/SANG pour tempérer le visage et ses structures internes <br>
                            3 Contact  bilabial  non  forcé : l’espace du sourire <br>
                            4 Repos musculaire : Harmonie fonctionnelle <br>
                            5 Symétries lèvres et menton: perception visuelle<br><br>
                         
                        <b>2.1.2  Harmonie du Profil au repos</b>
                        1 Analyse céphalométrique Simplifiée FMA, SNA,SNB ,I/F ,i/m<br>
                        Les lèvres de profil : Respecter la trilogie « lèvre du haut, lèvre du bas, menton <br><br>

                        <b>2.2  Harmonie du Visage  Souriant</b><br><br>

                        <b>2.2.1 Harmonie du visage souriant de face</b><br>
                            1 Les lignes de forces de l’équilibre de la Face <br>
                            2 Les axes prémolo-molaires <br>
                            3 Triangle Noir latéral<br>
                            4 Le CADRE  du sourire© : Positionne les lèvres dans la Face lors du sourire :<br>  
                            5 La Dysharmonies maxillo-faciale : Adapter  la  « boite  a  langue » dents du haut + large qu’en bas<br><br>

                        <b>2.2.2  Harmonie du profil souriant</b><br>
                            1 Rapports Front,  Nez, Lèvre,  Menton<br>
                            2 B Esthétique Line©

                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion13" class="collapsed" aria-expanded="false"> <span class="open-sub"></span> 3 Harmonie des dents du Sourire  Le sourire des dents: Harmonie dentaire du sourire</a> </div>
                  <div id="accordion13" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                    <div class="panel-content">
                      <p>   «Les  dents  Alignées  ne  suffisent  pas  au  beau  sourire » :<br>
                            Le sourire des patients est riche d’informations et d’indications sur l’état, la position et le déplacement des dents, il nous guide sur les possibilités d’amélioration de changement ou de correction<br><br>

                            3.1  Le sourire de  face <br><br>
                                3.1.1 Déterminer les sourires Gingivaux ou labiaux antérieur/postérieur/haut/bas/Droite/gauche<br>
                                3.1.2 Positionner  les  canines prémolaires et molaires  dans le sourire<br>
                                3.1.3Harmonie des largeurs décroissantes<br>
                                3.1.4 Harmonie interne de  L’espace Buccal du sourire  hauteur par rapport à largeur<br>
                                3.1.5 Sourire par rapport à la taille des dents<br><br>
                             
                            3.2. Lignes du sourire et symétries<br><br>
                                3.2.1Espace Buccal du Sourire EBS<br>
                                    LLS ligne labiale supérieur de l’EBS<br>
                                    LLI ligne labiale inférieure de l’EBS<br><br>
                             
                            3.2.2 Espace dentaire du Sourire EDS<br><br>
                                    LDES ligne Dentaire esthétique supérieur<br>
                                    LDEI ligne Dentaire esthétique Inférieur<br><br>
                             
                            32.3 Espace Labiale Supérieur et Inférieur du Sourire ELS<br><br>
                                    ligne labio-cutanée supérieure<br>
                                    ligne labio-cutanée Inférieur<br><br>
                            LLI ligne labiale inférieur de l’E.B.S.<br>
                            E.B.S :  Espace Buccal du Sourire <br>
                            E.D.S :  Espace Dentaire du Sourire <br>
                            C.L.S.I :  Cadre Labial du Sourire Inférieur<br><br>

                            3.3 Les Ombres Noires<br><br> 
                                1  Triangle Noir central<br>
                                2  Traits noirs<br><br>
                             
                            3.2.5 « Blancheur des dents »<br><br>
                             
                            3.2.6 Forme et texture

                    </p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion14" class="collapsed" aria-expanded="false"> <span class="open-sub"></span> 4 Harmonie Occlusale </a> </div>
                  <div id="accordion14" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                    <div class="panel-content">
                    <p>
                    <b>COORDINATION ET POSITIONNEMENT DES DENTS ENTRE ELLES</b> : « Occlusion »  Ou Concordance des Dents<br>
                    Respectant les concepts de dentisterie et de prothèse et non conceptualisé a partir ou a cause d’un système préfabriqué tel que le multi-attache.<br>

                    4.1 Organisation intra-arcade<br><br>
                        Pas de rotation     Respect lignes de mastication<br>
                        Contacts inter-dentaires    Harmonie des bords occlusaux      Point ou surface de contact <br>
                        Expansion et réharmonisation de la forme d’arcade<br><br>

                    4.2 Organisation inter-arcades<br><br>
                        4.2.1 Vertical     recouvrement 2mm, supraclusion/infraclusion ;<br>
                        4.2.2 Transversal     centrage des milieux., articulé inversé saut d’articulé<br>
                        4.2.3 Antéro-postérieur    1  la classe I, II et III dentaire canine et Molaire  surplomb 2 mm    contact incisif,<br><br>


                    4.3 Courbes physiologique<br><br>
                        4.3.1 Respect courbe de spee<br>
                        4.3.2 Respect de la courbe de Wilson
                    </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


   {% endblock %}