   {% extends ('layout/frontlayout.html.twig') %}
   {% block body %} 
     <!--Page Title-->
    <section class="page-title" style="background-image:url(../assets/images/background/bg-page-title-16.jpg);">
    	<div class="auto-container">
        	<h1>Qu'est ce que l'orthodontie?</h1>
        </div>
    </section>
    
    
    <!--Project Details /  Style Three-->
    <section class="project-details style-Three">
    	<div class="auto-container">
        	
            
            <div class="row clearfix">
            	
                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                	<figure class="image-box"><img src="{{ asset('assets/images/pqpatrice.jpg') }}" alt=""></figure>
                </div>
                
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <p>L’Orthodontie est la spécialité dentaire qui déplace naturellement les dents à tout âge et les mâchoires des enfants par des appareillages dentaires.<br>
                    Cette spécialité créée dans les années 70 -80 est devenue incontournable dans de nombreux domaines.
                    L’orthodontie a pour but l’esthétique du sourire et une bonne mastication. Elle est aussi souvent la base de tout traitement dentaire de réhabilitation fonctionnelle ou esthétique et de correction de la cause de nombreuses maladies tel la carie, la parodontie, les douleurs articulaires les apnées du sommeil, les céphalées et maux de tète et certaines scolioses.<br>
                    Cette spécialité est très connue chez les adolescents qui portaient les « chemin de fer sur les dents » mais a évoluée grâce aux appareillages Invisibles en plastique transparent fabriqués à partir de programme et calculs informatiques très précis dont les cliniques B And Smile se sont faites expertes depuis 2001 et ce quelque soit l’âge ou a correction souhaitée.</p>
                    
                </div>
                
            </div>
            
            
            <p>L’Orthodontie a aussi évolué sur la santé cranio faciale des dents, des mâchoires et intégré les fonctions du visage tel que mastication, respiration, phonation et déglutition et ceci dès les plus jeune âge de 3 ans avec le RCC ou quand il est trop tard et qu’il n’y a plus de croissance avec l’évolution de la chirurgie Orthognatique.</p>

            <p>L’esthétique du sourire a aussi progressé. Si l’alignement des dents permet d’améliorer le sourire, la maitrise du positionnement individuel des dents dans le sourire et de leur inclinaison au degré près permet d’obtenir encore un plus beau sourire. Ceci est possible aujourd’hui grâce à la programmation informatique au centième de millimètre et au degré près ce qui était fait avant à l’œil nu par l’orthodontiste.</p>

            <p>L’Occlusion dite fonctionnelle obtenue par orthodontie a une action plus globale sur le corps. En effet les forces exercées pendant la mastication peuvent avoir des conséquences sur la posture et certaines céphalées, acouphènes maux de tête et migraines que nous pouvons prévenir chez les enfants jeunes dès l’apparition d’une anomalie ou guérir chez les adultes en s’associant à d’autres spécialités.</p>

            <p>L’Orthodontie par son action naturelle et physiologique est devenue la spécialité incontournable pour tous traitement dentaires ou toutes actions maxillo-cranio faciales voir la posture en général.</p>

            <p>« Plus on commence tôt plus on aide la nature dans une position physiologique guidée par la génétique de chacun et intemporelle. Plus c’est tôt, plus on aide, plus c’est naturel, plus c’est stable mais plus c’est long. Plus on commence tard plus on force la nature dans une position prédéterminée scientifiquement en fonction de l’évolution instantanée des connaissances. Plus c’est tard, plus on force, moins c’est stable mais c’est plus rapide. » Patrice Bergeyron.</p>

            <div class="row clearfix">
            	
                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                	<figure class="image-box"><img src="{{ asset('assets/images/about-3.png') }}" alt=""></figure>
                </div>
                
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <h3>Pour les Adultes</h3>
                    <p>nous proposons du simple alignement en 1 mois et demi au traitement complet d’orthodontie esthétique et fonctionnelle.<br>
                    Nous intervenons aussi souvent en préparation de traitement de réhabilitation prothétique grâce à l’alignement et au blanchiment des dents pour refaire des prothèses plus esthétiques et mieux intégrées.
                    </p>

                    <h3>Pour les Adolescents</h3>
                    <p>nous remplaçons les bagues par des correcteurs en plastique transparent invisible à changer soi-même à la maison pour plus de confort, plus de précision et moins de risques dus à l’hygiène et à la casse des appareils fixés ou collés sur les dents
                    </p>

                    <h3>Pour les Séniors</h3>
                    <p>nous réalisons le plus souvent des traitements mineurs de « rafraichissement du sourire » en redonnant une fraicheur aux dents par l’alignement et l’éclaircissement.
                    </p>
                    
                </div>
                
            </div>
        </div>
    </section>
    {% endblock %}