   {% extends ('layout/frontlayout.html.twig') %}
   {% block body %} 
     <!--Page Title-->
    <section class="page-title" style="background-image:url(../assets/images/background/bg-page-title-16.jpg);">
    	<div class="auto-container">
        	<h1>Orthodontiste  </h1>
        </div>
    </section>
    
    
    <!--Project Details /  Style Three-->
    <section class="project-details style-Three">
    	<div class="auto-container">
        	
            
            <div class="row clearfix">
            	
                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                	<figure class="image-box"><img src="{{ asset('assets/images/1ortho.jpg') }}" alt=""></figure>
                </div>
                
                <div class="col-md-6 col-sm-12 col-xs-12">
                	<h3>Expert en orthodontie pédiatrique</h3>
                    <p>Le Dr Bergeyron fervent défenseur des traitements orthodontiques précoces a développé un savoir-faire très poussé dans ce domaine. Il propose, dès l’âge de 3 ans, une étude et un contrôle de la croissance naturelle et fonctionnelle des mâchoires et de l’évolution des dents et s’appuie sur un appareil exclusif, développé par ses soins le Régulateur de Croissance Contrôlé qui fonctionne comme un tuteur sur la mâchoire de l’enfant.</p>
                    
                    <h4>Pionnier des traitements par Aligneurs</h4>
                    <p>Le Dr Bergeyron est l’un des orthodontistes les plus expérimentés d'Europe en quantité de traitements par appareil Invisalign ® mais aussi celui qui montre les meilleurs cas cliniques selon les pairs de l’orthodontie Invisalign® internationale Il a reçu pour sa pratique plusieurs titres lors des Peer Review Awards Formateur agréé il a formé la plupart des orthodontistes en Europe sur les procédés Invisalign ®</p>
                    
                </div>
                
            </div>
            
            
            <div class="row clearfix">
                
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <h3>Qu'est-ce que L'ISFESO ?</h3>
                    <p><b>L'ISFESO©</b>, l'International Society of Functional Esthetic of Smile in Orthodontists est une société scientifique qui fut créé en 2008 à la Réserve, à Bandol (France) par le Dr Patrice Bergeyron après douze ans de pratique d'une Orthodontie Esthétique et Fonctionnelle du sourire et avoir traité plus de <b>10.000 patients</b> dans le monde.<br>L'ISFESO© définit la philosophie de l'orthodontie et précise les engagements que tout professionnel désirant adhérer à cette charte devra respecter, afin que le patient soit éclairé et sache comment on va le traiter et à quel résultat il est en droit de s'attendre.
                    Et cela commence par un engagement sur l'appareillage que l'on va mettre dans la bouche du patient, <b>en six règles fondamentales:</b>
                    </p>
                </div>
            	
                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                	<figure class="image-box"><img src="{{ asset('assets/images/2ortho.jpg') }}" style="width: 35%;float: right" alt=""></figure>
                </div>
                
            </div>
        </div>
    </section>

    <section class="features-style-one">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Features Column-->
            	<div class="column features-column col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="count wow zoomInStable animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: zoomInStable;">01.</div>
                        <div class="title-box">
                            <h3>Etre esthétique</h3>
                        </div>
                        <div class="text">Adopter l'appareillage le moins visible et améliorer l'esthétique des six dents antérieures dès le début du traitement</div>
                    </div>
                </div>
                
                <!--Features Column-->
            	<div class="column features-column col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="count wow zoomInStable animated" data-wow-delay="300ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms; animation-name: zoomInStable;">02.</div>
                        <div class="title-box">
                            <h3>Diminuer la douleur et les traumatismes</h3>
                        </div>
                        <div class="text">(Forces légères et physiologiques). Il ne faut plus avoir mal.</div>
                    </div>
                </div>
                
                <!--Features Column-->
            	<div class="column features-column col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="count wow zoomInStable animated" data-wow-delay="600ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: zoomInStable;">03.</div>
                        <div class="title-box">
                            <h3>Etre confortable et individualisé</h3>
                        </div>
                        <div class="text">(Lisse, arrondi pour la lanque et les joues.) Le seul moyen pour un appareil d'être confortable, c'est qui'il soit fait sur mesure.<br>Tous nos appareils sont fabriqués à partir d'empreintes, car chaque individu est unique.</div>
                    </div>
                </div>
                
                <!--Features Column-->
            	<div class="column features-column col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="count wow zoomInStable animated" data-wow-delay="600ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: zoomInStable;">04.</div>
                        <div class="title-box">
                            <h3>Permettre l'Hygiéne</h3>
                        </div>
                        <div class="text">(Privilégier l'amovible).</div>
                    </div>
                </div>
                
                <!--Features Column-->
            	<div class="column features-column col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="count wow zoomInStable animated" data-wow-delay="600ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: zoomInStable;">05.</div>
                        <div class="title-box">
                            <h3>Etre efficace</h3>
                        </div>
                    </div>
                </div>
                
                <!--Features Column-->
            	<div class="column features-column col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="count wow zoomInStable animated" data-wow-delay="600ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: zoomInStable;">06.</div>
                            <div class="title-box">
                                <h3>Fonctionner sans contrainte de rendez-vous</h3>
                                <div class="text">
                                    Il ne faut pas qu'il y ait d'urgence!<br>Le traitement doit être fiable et prévu sur la durée.
                                </div>
                             </div>
                        </div>
                    </div>
                
            </div>
        </div>
    </section>
    {% endblock %}