{% extends ('layout/frontlayout.html.twig') %}
   {% block body %} 
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="images/bg/bg3.jpg"             style="background-image: url(&quot;images/bg/bg3.jpg&quot;); background-position: 50% 97px;">
    <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="text-white mt-20">Appareillages Agréés / RCC©</h2>
                </div>
            </div>
        </div>
    </div>      
    </section>



    <section class="">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-6">
              <h6 class="letter-space-4 text-gray-darkgray text-uppercase mt-0 mb-0">A propos</h6>
              <h2 class="text-uppercase font-weight-600 mt-0 font-28 line-bottom">Appareillages agréés :</h2>
              <h4 class="text-theme-colored">Le régulateur de croissance contrôlée : RCC©</h4>
              <p style="text-align:justify">C'est un <b>appareillage médical</b> qui a pour but d'aider et de ré harmoniser la croissance crâniaux-faciale et les fonctions oro-faciales de votre enfant tout en améliorant la position des dents. 
              Si le "faux palais" est un ancien appareil qui ne servait qu'à déplacer les dents, nous y avons ajouté des auxiliaires de croissance en <b>harmonie avec l'évolution des connaissances</b> et notre expérience, pour faire un appareil unique qui est un véritable "régulateur de croissance contrôlée" à fabriqué <b>sur mesure</b> et individualisé aux dysfonctions et dysmorphoses de <b>votre enfant</b> et à partir du diagnostic des logiciels B And Smile pour l'aider à mieux respirer et faciliter la mise en place des dents. 
              
              </p>
            </div>
            <div class="col-md-6">
              <div class="video-popup">                
                  <img alt="" src="{{ asset('images/rcc.jpg') }}" class="img-responsive img-fullwidth">
              </div>
            </div>

            <div class="col-md-12">
                <p style="text-align:justify">Le régulateur de croissance contrôlée B And Smile est reconnaissable par le sigle intégré dans l'appareil. Il vous garantit un appareillage fabriqué dans un laboratoire B And Smile développé exclusivement pour les spécialistes de l'ISFESO  (Société Internationale d'Esthétique Fonctionnelle du Sourire en Orthodontie), il répond à la charte de l'ordre des chirurgiens-dentistes sur les appareils prothétiques et aux règles d'appareillage de l'ISFESO.
              Tous les auxiliaires du régulateur de croissance contrôlée sont ajustés au laboratoire et pendant le traitement par votre orthodontiste grâce aux informations transmises par les logiciels et procédures d'aide au diagnostic B And Smile.</p>
            </div>

            
            <div class="col-md-10">
              <p class="mb-10">Tous les appareils ont une efficacité, l'avenir étant de :</p>
              <div id="accordion1" class="panel-group accordion">
                <div class="panel">
                  <div class="panel-title"> <a class="active" data-parent="#accordion1" data-toggle="collapse" href="#accordion11" aria-expanded="true"> <span class="open-sub"></span> 1 - Action sur croissance et occlusion dans les 3 sens de l'espace:</a> </div>
                  <div id="accordion11" class="panel-collapse collapse in" role="tablist" aria-expanded="true" style="">
                    <div class="panel-content">
                      <p>L'occlusion étant le garant d'une bonne santé des dents, des gencives et de l'articulation temporo-mandibulaire, le régulateur de croissance contrôlée  agit directement sur les relations des mâchoires entre elles pour faciliter l'emboîtement des dents qui vont arriver dans des mâchoires préparées à les recevoir et habituées à fonctionner l'une en face de l'autre, ceci évitera de "forcer sur les dents" plus tard.

                      Action sur la hauteur d'emboitement: dimension verticale
                      Pour l'ISFESO la "dimension d'emboitement" la plus difficile à corriger étant le sens vertical, le régulateur de croissance contrôlée  agit dès le jour de la pose en priorité sur ce sens en régulant la croissance par ses auxiliaires verticaux.

                      Action sur la correspondance dès les largeurs d'emboitement: la dimension transversale : auxiliaires de croissance verticaux
                      "La largeur idéale des mâchoires est celle qui correspond à la langue". 
                      Quand on stimule la croissance de la mâchoire du haut la mandibule répond des 3/5 selon Ricketts. L'ISFESO n'utilise jamais d'appareillage pour élargir la mâchoire du bas, elle utilise la mâchoire du bas comme repéré physiologique et naturel à l'élargissement du haut afin de ne pas transformer votre enfant mais l'aider à grandir dans sa limite physiologique. Petrovic confirme cette référence en nous affirmant que "La largeur à suivre étant la mandibule pour Petrovic". Votre orthodontiste réglé la stimulation de l'auxiliaire transversal en fonction des objectifs et de la réponse naturelle et physiologique de votre enfant en utilisant un appareillage sans bague avec des cales intégrées "auxiliaires de croissance verticaux" qui seuls permettent une corrélation entre la position de repos et d'occlusion mandibulaire sans interférences dentaires. L'action se fait directement par stimulation de la suture grâce à l'auxiliaire transversal, plus on agit tôt au mieux la réponse est osseuse en profondeur et sans douleur, idéalement de 3 à 9 ans, plus on agit tard au moins on a de réponse osseuse au plus on tire sur les dents avec des douleurs et des risques de les déchausser.

                      Action sur la correspondance des longueurs d'emboitement: la dimension antéropostérieure:
                      Si cette dimension est la plus étudié en orthodontie (peut être car la plus visible à la téléradiographie), elle ne peut intervenir qu'après la correction des deux. Le déverrouillage de l'occlusion permet souvent s'il est effectué précocement à la mâchoire du bas de rattraper la mâchoire du haut. C'est parce que l'enfant essaye avec ses premières incisives de trouver le contact qu'il rattrape son décalage congénital. Pour Petrovic la longueur à suivre est le maxillaire. S'il est trop tard et que l'enfant ne rattrape pas la croissance de la mâchoire du haut, le régulateur de croissance contrôlée sera couple au port nocturne a un activateur souple "sur mesure à partir d'empreintes" à porter la nuit: la gouttière de propulsion ajustée B And Smile.
                      La mâchoire du bas est différente de la mâchoire du haut sur le plan embryologique, génétique et fonctionnel, elle correspond plus à "une jambe" avec un potentiel de croissance et plus tardif, la mâchoire du haut est fixée au crane avec une croissance affiliée au crane comme pour les fontanelles son potentiel de croissance s'arrête beaucoup plus tôt c'est pour cela que les zones de croissance du crane sont molles chez un enfant et durcissent après. C'est pour cela que nous n'utilisons qu'exceptionnellement le régulateur de croissance contrôlée après 9 ans et qu'au plus on commence tôt au plus les résultats sont rapides et fonctionnels.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion12" class="collapsed" aria-expanded="false"> <span class="open-sub"></span> 2 - Action ostéopathique</a> </div>
                  <div id="accordion12" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                    <div class="panel-content">
                      <p>Le régulateur de croissance contrôlée agit directement sur les sites de croissance et les sutures cranio-faciales, tel un ostéopathe il "déverrouille" et stimule les zones de croissance pour ré harmoniser les maxillaires, quelqu'un disait: "je suis bien dans ma peau, elle est juste à ma taille", nous disons "je suis bien dans mes mâchoires elles sont juste à la taille de ma langue".
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion13" class="collapsed" aria-expanded="false"> <span class="open-sub"></span>3 - Action Kinésiologie</a> </div>
                  <div id="accordion13" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                    <div class="panel-content">
                      <p>La croissance est osseuse et musculaire, les auxiliaires de croissance vont avoir un effet direct sur la contraction des muscles, les contacts dentaires rétablis vont permettre à certains muscles de ré-fonctionner et d'être rééduques. Les auxiliaires verticaux vont "ré-symétriser" les muscles et ré harmoniser leur croissance.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion14" class="collapsed" aria-expanded="false"> <span class="open-sub"></span> 4 - Harmonisation esthétique naturelle du visage et du sourire</a> </div>
                  <div id="accordion14" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                    <div class="panel-content">
                        <p>Les auxiliaires de croissance verticaux rééquilibrent les hauteurs du visage qui sont les seuls signes d'harmonie indépendants des races, des époques ou pire des angulations sur les analyses tel radiographiques.
                        Les auxiliaires antérieurs assurent un meilleur alignement des dents et un plus beau sourire pendant le traitement, les auxiliaires transversaux diminuent les triangles noirs latéraux.
                        </p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion15" class="collapsed" aria-expanded="false"> <span class="open-sub"></span> 5 - Améliore la mastication et digestion</a> </div>
                  <div id="accordion15" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                    <div class="panel-content">
                      <p>L'augmentation et l'harmonisation des contacts entre les dents permet une meilleure cinétique mandibulaire et une meilleur mastication et digestion.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion16" class="collapsed" aria-expanded="false"> <span class="open-sub"></span> 6 - Action physiologique sur posture, statique:</a> </div>
                  <div id="accordion16" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                    <div class="panel-content">
                        <p>Les plans lisses intègres permettent un déverrouillage occlusal immédiat et un référentiel musculaire sans obstacle dentaire. Les muscles masticateurs étant en relation avec la posture et la statique globale, le jour de la pose de l'appareil, la symétrisassions neuromusculaire permanente aide à la rééquilibration globale de la posture de la statique et des articulations temporo-mandibulaires.</p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion17" class="collapsed" aria-expanded="false"> <span class="open-sub"></span> 6 - Action physiologique sur posture, statique:</a> </div>
                  <div id="accordion17" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                    <div class="panel-content">
                        <p>Les plans lisses intègres permettent un déverrouillage occlusal immédiat et un référentiel musculaire sans obstacle dentaire. Les muscles masticateurs étant en relation avec la posture et la statique globale, le jour de la pose de l'appareil, la symétrisassions neuromusculaire permanente aide à la rééquilibration globale de la posture de la statique et des articulations temporo-mandibulaires.</p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion18" class="collapsed" aria-expanded="false"> <span class="open-sub"></span> 7 - Action ORL sur respiration, le ronflement et les apnées du sommeil, diminution rhino-pharyngites, laryngites et otites:</a> </div>
                  <div id="accordion18" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                    <div class="panel-content">
                        <p>L'appareillage est positionne sur la mâchoire du haut qui est la mâchoire de la "respiration " avant de servir à l'occlusion, les auxiliaires de croissance stimulent cette mâchoire facilitant la respiration par le nez et limitant les ronflements et apnées.
                        Le nez est un "filtre" pour permettre à l'air d'arriver "pur" aux poumons, en cas de ventilation buccale exclusive les amygdales et le pharynx doivent filtrer l'air à la place du "nez" ce qui peut être une des causes des pharyngites ou laryngites, une respiration nasale diminuera ce risque. Le système auriculaire est lui aussi "aère" par l'air qui passe par le nez et qui est distribué par le cornets pour ventiler les conduits et diminuer les risques d'otites.
                        </p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion19" class="collapsed" aria-expanded="false"> <span class="open-sub"></span> 8 - Action orthophonique sur le repositionnement de la langue et amélioration de la diction et l'élocution:</a> </div>
                  <div id="accordion19" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                    <div class="panel-content">
                        <p>Si les premiers jours de port la diction est perturbée par la gêne transitoire, le fait de reconfirmer les mâchoires, de corriger les espaces d'interposition de la langue, de ne poser qu'un appareil en haut qui va rediriger la langue et la rééduquer permet d'améliorer la diction et de faire lui-même son orthophonie.
                        </p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion20" class="collapsed" aria-expanded="false"> <span class="open-sub"></span> 9 - Prévention des fractures et des caries:</a> </div>
                  <div id="accordion20" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                    <div class="panel-content">
                        <p>Le réglage des "zones alvéolaires antérieures" et la protection le jour de la pose par la "barre métallique", redresse les incisives et limite leur risque de fracture car elles sont trop en "avant". L'alignement permet une meilleure hygiène dentaire et limite le risque de fractures.
                        </p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion21" class="collapsed" aria-expanded="false"> <span class="open-sub"></span> 10 - Limite et évite les extractions:</a> </div>
                  <div id="accordion21" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                    <div class="panel-content">
                        <p>L'activateur de croissance transversale permet de faire de la place pour les dents sur l'arcade en élargissant le périmètre. Trop souvent on extrait des dents dans une mâchoire trop petite alors qu'on peut aider la mâchoire à reprendre sa taille normale et ainsi éviter d'extraire tout une série de dents saines.
                        </p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion22" class="collapsed" aria-expanded="false"> <span class="open-sub"></span> 11 - Guide l'évolution des dents définitives:</a> </div>
                  <div id="accordion22" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                    <div class="panel-content">
                        <p>Le réglage des zones "alvéolaires" latérales guide l'évolution des prémolaires et des canines pendant le traitement.
                        </p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion23" class="collapsed" aria-expanded="false"> <span class="open-sub"></span> 12 - Correction de la succion du pouce de la sucette ou du Doudou:</a> </div>
                  <div id="accordion23" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                    <div class="panel-content">
                        <p>La succion du pouce est importante pour un enfant. Sur le plan psychologique il est dangereux d'interdire de sucer le pouce ou pire de poser un appareillage fixe du style "grille anti-pouce". L'ISFESO préconise de substituer le pouce par le régulateur de croissance contrôlée, qui permet à l'enfant de sucer son appareil plutôt que le pouce la sucette ou le Doudou. S'il veut, il peut exceptionnellement l'enlever pour sucer son pouce ou le sucer avec l'appareil. Le régulateur de croissance contrôlée va reformer ce qu'il a déforme et va l'aider à arrêter sans le contraindre et risquer de le perturber provisoirement.
                        </p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion24" class="collapsed" aria-expanded="false"> <span class="open-sub"></span> 13 - Amélioration de la concentration:</a> </div>
                  <div id="accordion24" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                    <div class="panel-content">
                        <p>Le fait de faciliter la respiration par le nez permet une aération et une oxygénation des fosses nasales et du bas du cerveau tout en régulant la température de l'étage moyen et supérieur du visage donc du cerveau, facilitant la concentration. C'est un peu comme une voiture avec un système de refroidissement interne par eau "le sang dans veines et artères" et "air" celui qui arrive par le nez.
                        </p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion25" class="collapsed" aria-expanded="false"> <span class="open-sub"></span> 14 - Diminution de la fatigue:</a> </div>
                  <div id="accordion25" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                    <div class="panel-content">
                        <p>La stimulation de la croissance et la rééquilibration musculaire et fonctionnelle évite les contractures musculaires pour forcer à respirer, mastiquer, parler et déglutir, cette relaxation et ce repos musculaire diminuent la fatigue.
                        </p>
                    </div>
                  </div>
                </div>


              </div>
            </div>


          </div>
        </div>
      </div>
    </section>
   {% endblock %}