{% extends ('layout/frontlayout.html.twig') %}
   {% block body %} 
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="images/bg/bg3.jpg"             style="background-image: url(&quot;images/bg/bg3.jpg&quot;); background-position: 50% 97px;">
    <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="text-white mt-20">Régle d'Appareillage</h2>
                </div>
            </div>
        </div>
    </div>      
    </section>

<section id="event" class="">
      <div class="container pb-50">
        <div class="section-content">
          <div class="row">
            <div class="col-md-6">
              <h2 class="text-uppercase line-bottom mt-0 line-height-1"><i class="fa fa-calendar mr-10"></i>Règles d’appareillage <span class="text-theme-color-2">ISFESO</span></h2>
            </div>
            <div class="col-md-10">
              <p class="mb-10">Tous les appareils ont une efficacité, l'avenir étant de :</p>
              <div id="accordion1" class="panel-group accordion">
                <div class="panel">
                  <div class="panel-title"> <a class="active" data-parent="#accordion1" data-toggle="collapse" href="#accordion11" aria-expanded="true"> <span class="open-sub"></span> Règle 1 - Esthétique </a> </div>
                  <div id="accordion11" class="panel-collapse collapse in" role="tablist" aria-expanded="true" style="">
                    <div class="panel-content">
                      <p>le moins visible et d'améliorer l'esthétique des 6 dents antérieures dès le début du traitement<br>
                      Aligner et redresser vos dents sans douleur, confortablement et sans que les autres le voient, le plus fidèlement, rapidement, discrètement et avec le moins de contraintes.</p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion12" class="collapsed" aria-expanded="false"> <span class="open-sub"></span> Règle 2 - Diminuer la douleur et les traumatismes (forces légères et physiologiques)</a> </div>
                  <div id="accordion12" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                    <div class="panel-content">
                      <p>Les fils sont le plus souvent responsables des douleurs lors des déplacements orthodontiques.
                         Beaucoup de traitements par gouttières sont en fait des gouttières plastiques préfabriquées "du commerce".<br>
                         Les patients cherchent le traitement le moins invasif, le plus sûr, qui les immobilise le moins longtemps.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion13" class="collapsed" aria-expanded="false"> <span class="open-sub"></span> Règle 3 - Confortable et individualisé (lisses arrondis pour la langue et les joues, être le moins traumatisant voire mutilant)</a> </div>
                  <div id="accordion13" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                    <div class="panel-content">
                      <p>Individualisation des traitements et appareillages.<br>
                      Notre devoir est de vous informer sur les dysharmonies que vous présentez, leurs conséquences et les différentes possibilités de traitement avec leurs avantages et leurs inconvénients pour définir ensemble la meilleure solution tenant compte des critères scientifiques et de vos désirs.<br>
                      Nous vous proposons d'intégrer votre individualité et votre volonté de changement, non en fonction d'une norme ou d'un appareillage mais en fonction des résultats de votre étude personnelle à partir de logiciels et procédures développés exclusivement par B And Smile et pour les orthodontistes de l'ISFESO.</p>
                      <p>Exclusivité des appareillages des outils techniques et technologiques.</p>
                      <p>Les orthodontistes de l’ISFESO utilisent les outils techniques et technologiques développés exclusivement par la société B And Smile pour les membres de l'ISFESO pour garantir au patient une qualité de traitement identique dans tous les cabinets des orthodontistes de l'ISFESO.
                      Votre orthodontiste utilise les procédés B And Smile pour choisir et obtenir d'un fabriquant d'appareillage orthodontique les résultats souhaités non en fonction d'une norme, d'une marque ou d'un appareillage mais en fonction des résultats de votre étude personnelle et de vos désirs à partir de logiciels et procédures développés exclusivement pour les orthodontistes de la Société Internationale d'Esthétique Fonctionnelle du Sourire (ISFESO) pour que votre sourire reste création unique.
                      Appareillages sur mesure
                      Tous les appareillages sont fabriqués à partir d'empreintes pour ne pas normaliser ou classer en catégories mais individualiser chacun des traitements. Beaucoup d'appareils amovibles ou fixes ne sont pas acceptés car ils sont préfabriqués (différentes tailles) par rapport à des moyennes statistiques ou des groupes témoins alors que nous sommes tous différents. 
                    </p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion14" class="collapsed" aria-expanded="false"> <span class="open-sub"></span> Règle 4 - Permettre l'hygiène (privilégier l'amovible)</a> </div>
                  <div id="accordion14" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                    <div class="panel-content">
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion15" class="collapsed" aria-expanded="false"> <span class="open-sub"></span> Règle 5 - Individuel et efficace </a> </div>
                  <div id="accordion15" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                    <div class="panel-content">
                      <p>appareillage sur mesure, tous nos appareils sont fabriqués à partir d'empreintes, car chaque individu est unique
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion16" class="collapsed" aria-expanded="false"> <span class="open-sub"></span> Règle 6 - Sans contrainte de Rendez-Vous</a> </div>
                  <div id="accordion16" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                    <div class="panel-content">
                    <p>Il ne faut pas qu'il ait d'urgence. Le traitement doit être faible et prévu sur la durée.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


   {% endblock %}