   {% extends ('layout/frontlayout.html.twig') %}
   {% block body %} 

   <style>
        .embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.title{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;

}
   </style>
     <!--Page Title-->
    <section class="page-title" style="background-image:url(../assets/images/background/bg-page-title-16.jpg);">
    	<div class="auto-container">
        	<h1>Témoignages</h1>
        </div>
    </section>
    
    
 <section class="project-details style-one">
    	<div class="auto-container">
        	
            <!--upper Images-->
            <div class="row clearfix">
                <center><h2 class="title">Le B And Smile® Two</h2></center>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hSTojFhU6Wg" allowfullscreen></iframe>
                </div>
            </div>
            <!--Content-->
            <div class="row clearfix" style="margin-top: 50px">
            	<div class="image-column col-md-8 col-sm-12 col-xs-12">
                	<h3>Motif de consultation</h3>
                    <div class="row clearfix">
                    	<div class="col-md-12 col-sm-12 col-xs-12">
                        	<ul class="styled-list-one">
                            	<li>Réstaurer le chevauchement</li>
                                <li>Elargire le sourire</b></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <h3>Traitement</h3>
                    <p>Sans taquets, et avec un léger <b>Stripping</b> la patiente a pu retrouver <b>un alignement parfait</b> de ses dents.</p>

                	<h3>Durée du traitement</h3>
                    <p>6 mois</p>

                </div>

            </div>
        	
            <!--upper Images-->
            <div class="row clearfix" style="margin-top: 80px">
                <center><h2 class="title">Restauration de la Classe Squelettique Par Aligneurs</h2></center>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/APhLulGCiB0" allowfullscreen></iframe>
                </div>
            </div>
            
            <!--Content-->
            <div class="row clearfix" style="margin-top: 50px">
            	<div class="image-column col-md-8 col-sm-12 col-xs-12">
                	<h3>Motif de consultation</h3>
                    <div class="row clearfix">
                    	<div class="col-md-12 col-sm-12 col-xs-12">
                        	<ul class="styled-list-one">
                            	<li>Restaurer la classe squelettique sans recours à <b>la chirurgie orthognatique</b></li>
                                <li>Rétablir <b>l'occlusion</b> ainsi que <b>la posture</b>, cause principale de sa <b>fibromyalgie</b></li>
                            </ul>
                        </div>
                    </div>
                	<h3>Objectif du traitement</h3>
                    <div class="row clearfix">
                    	<div class="col-md-12 col-sm-12 col-xs-12">
                        	<ul class="styled-list-one">
                                <li>Rétablissement de <b>la Classe squelettique</b></li>
                            	<li>Alignement des dents</li>
                                <li>Restauration de la posture</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <h3>Traitement</h3>
                    <p>Grâce au port d'aligneurs et des élastiques nous avons pu éviter la chirurgie orthognatique, aprés uniquement un port régulier des élastiques de 5 mois.<br>La restauration de la classe squelettique ainsi que l'occlusion ont permis le redressement de la posture du patient: premier axe du traitement de la fibromyalgie pour ce cas. </p>
                </div>

            </div>
        	
            <!--upper Images-->
            <div class="row clearfix" style="margin-top: 80px">
                <center><h2 class="title">Traitement accéléré grâce au White Viber</h2></center>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/D3HLjAOeoPY" allowfullscreen></iframe>
                </div>
            </div>
            
            
            <!--Content-->
            <div class="row clearfix" style="margin-top: 50px">
            	<div class="image-column col-md-8 col-sm-12 col-xs-12">
                	<h3>Motif de consultation</h3>
                    <div class="row clearfix">
                    	<div class="col-md-12 col-sm-12 col-xs-12">
                        	<ul class="styled-list-one">
                            	<li>Gêne esthétique cuasée par l'encombrement</li>
                                <li>Le patient refuse le traitement <b>Mutlibagues Conventionnel</b></li>
                            </ul>
                        </div>
                    </div>
                	<h3>Objectif du traitement</h3>
                    <div class="row clearfix">
                    	<div class="col-md-12 col-sm-12 col-xs-12">
                        	<ul class="styled-list-one">
                            	<li>Répondre à la demande esthétique du patient.</li>
                                <li>Améliorer la qualité du sourire tout en gardant <b>un sourire naturel</b>.</li>
                                <li>Réaligner les dents sans extraction, ni meulage <b>(Stripping)</b>.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <h3>Traitement</h3>
                    <p>Nous avons opté pour un traitement avec des gouttières orthodontiques de la marque <b>Invisalign®</b>, optimisées par le port du <b>Viber B And Smile</b>, ainsi le patient change ses aligneurs chaque semaine, lui permettant de retrouver un beau sourire naturel aprés uniquement <b>3 mois</b> au lieu de <b>6 mois</b></p>

                	<h3>Durée du traitement</h3>
                    <p>3 mois</p>

                </div>

            </div>
        	
            <!--upper Images-->
            <div class="row clearfix" style="margin-top: 80px">
            <center><h2 class="title">Traitement des dents Incluses</h2></center>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PqXeTvrLdx0" allowfullscreen></iframe>
                </div>
            </div>
            
            
            <!--Content-->
            <div class="row clearfix" style="margin-top: 50px">
            	<div class="image-column col-md-8 col-sm-12 col-xs-12">
                	<h3>Motif de consultation</h3>
                    <div class="row clearfix">
                    	<div class="col-md-12 col-sm-12 col-xs-12">
                        	<ul class="styled-list-one">
                            	<li>Fermeture de l'espace entre la latérale et la prémolaire suite à la chute tardive de <b>
                                la canine temporaire</b></li>
                                <li>Réaligner les dents et améliorer le sourire</li>
                            </ul>
                        </div>
                    </div>
                	<h3>Objectif du traitement</h3>
                    <div class="row clearfix">
                    	<div class="col-md-12 col-sm-12 col-xs-12">
                        	<ul class="styled-list-one">
                            	<li>Désinclure la canine permanente</li>
                                <li>Réstaurer le chevauchement</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <h3>Traitement</h3>
                    <p>Après avoir utilisé les bagues à l'extérieur puis les bagues a l'intérieur pour désinclure les canines nous avons fait notre premier traitement de désinclusion de canine sans bagues et 100% avec <b>Invisalign</b> en 2005. Depuis 2011 nous traitons <b>TOUTES</b> les dents Incluses avec Invisalign dans les cabinets <b>B And Smile</b>.<br>La 1ère étape est de faire de la place pour la dent puis la désinclure pour y fixer un élastique, ensuite il faut la positionner dans l'espace souhaité.</p>

                	<h3>Durée du traitement</h3>
                    <p>14 mois</p>

                </div>

            </div>
            
        </div>
    </section>
    {% endblock %}